// CUSTOMIZATIONS

$elyse-project-color: #651B63;

// add your project main color here:
$scott-project-color: #0f7b85;




// change the body background color on each page based on your name

#elyse {
    @include readable($elyse-project-color); // this readable mixin is in color-test.scss. it determines what the font color should be based on your background color!
}

#alex {}

#sartaj {}



#scott {
	@include readable($scott-project-color); // this readable mixin is in color-test.scss. it determines what the font color should be based on your background color!
}
