// VARIABLES
$white: #fff;
$lightgrey: #ccc;
$darkgrey: #444;

// STYLES
body {
    background: $lightgrey;
}

// PROJECT LIST HOMEPAGE

.project-list {
    @include grid-row(); // this is the same as using a div class row in HTML

    // Nested the project divs inside .project-list so that this styling doesn't conflict with the styling on an individual project page
    .project {
        @include grid-column(4); // this is the same as writing "columns large-4" in your HTML!
    }
    // this wrapper div is needed so we can have both margin and padding; foundation's columns use padding to separate them, so if we add a background there won't be any visual space between project divs.
    .project-wrap {
        background: $white;
        padding: 2em 2em 1em 2em;
        margin-top: 2em;
        min-height: 400px; // if we give them a min-height, they'll all stack nicely in a grid.
    }
}

// RESPONSIVE
@media #{$small-up} {
    .project-list .project {
        @include grid-column(16);
    }
}
@media #{$medium-up} {
    .project-list .project {
        @include grid-column(8);
    }
}
@media #{$large-up} {
    .project-list .project {
        @include grid-column(4);
    }
}


// INDIVIDUAL PROJECT PAGE

.project {
    @include grid-column(16);
}