/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {}


.sidebar {}

.main-content {}

.sub-content {}


.footer {}
