/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 03 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {}

.sidebar {
	/* hint! */
}

.main-content {
	/* hint! */
}

.footer {
	/* hint! */
}

/*
div {
	margin: 20px;
}
*/
/* uncomment me to see if you missed anything! */