/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.header {}

.sidebar {}

.main-content {}

.sub-content {}

.footer {}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */