/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

/*.clear {clear: both;}*/

.header {}
/* hint! what do you have to add here? */

.header:after {
	content: "hi";
	background: black;
	display: block;
	clear: both;
	visibility: hidden;
}

.logo {float: left;}

.navigation {float: right;}

.sidebar {float: left;}

.main_content {}
/* hint! you have to contain the floated children elements. */

.main_content:after {
	content: "hi";
	background: black;
	display: block;
	clear: both;
	visibility: hidden;
}

.sub_content {
	/* hint! */
	float: left;
}
.sub_content_2 {
	/* hint! */
	float: left;
}

.footer {}
