/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 02 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {}

.sidebar {
	float: left;
	width: 250px;
}

.main-content {
	float: left;
	/* hint! */
}

.footer {
	/* hint! */
}
