/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 06 */

.container {
	width: 1024px; /* what happens to the widget boxes when you change this width? */
	margin: 0 auto;
}


.main-content {}
/* hint! what do you need to add here? */

.widget {
	/* how do you make the widgets float next to each other? */
	/* what happens when you change float left to float right? why? */
}


.footer {
	/* hint! */
}


/* Bonus: what happens if you make a couple of the widgets taller than the other? */
/*.widget.tall {}*/

/* this CSS class targets widget #5. what can you do to it to make the rows of widgets get back in order? */
.widget.fix {
	background: #8F1B65;
}