/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 03 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {}

.sidebar {
	float: right;
	width: 250px;
}

.main_content {
	/*width: 654px;*/
	width: 734px;
	float: left;
}

.footer {
	clear: both;
}

/*
div {
	margin: 20px;
}
*/
/* uncomment and change width on main to make sure they added float left on main */