/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 80%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {}

	.header:after {
		content: "";
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
	}

.logo {
	float: left;
	width: 25%;
}

.navigation {
	float: right;
	width: 70%;
}

.sidebar {
	width: 25%;
	float: left;
	height: auto;
}

.main_content {
}

	.main_content:after {
		content: "";
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
	}

.sub_content {
	float: right;
	width: 70%;
}
.sub_content_2 {
	float: right;	
	width: 70%;
}

.footer {
	clear: both;
}
