/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 06 */

.container {
	width: 1024px; /* what happens to the widget boxes when you change this width? */
	margin: 0 auto;
}


.main_content {}
/* hint! what do you need to add here? */

	.main_content:after {
		content: "";
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
	}

.widget {
	float: left;
	/*float: right;*/
	/* what happens when you change float left to float right? why? */
}


.footer {
	/* hint! */
	clear: both;
}


/* Bonus: what happens if you make a couple of the widgets taller than the other? */
.widget.tall {
	height: 400px;
}

/* this CSS class targets widget #5. what can you do to it to make the rows of widgets get back in order? */
.widget.fix {
	clear: both;
	background: #8F1B65;
}